# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Base de datos local
*.db
*.sqlite3

# VSCode / SO
.DS_Store